/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.mainFrame {
	-fx-background-image: url('../images/transp_bg.png');
}

.roomsTable .table-column {
  -fx-alignment: CENTER;
}

.roomsTable .table-column.first {
  -fx-alignment: CENTER-LEFT;
}


.playgroundWindow .gameControlSection {
    -fx-background-image: url('../images/transp_bg.png');
}


.boardField {
    -fx-background-color: white;
    /*-fx-border-color: black;*/
}